 <ion-header>
 

 
 <ion-navbar color="danger">

    <!-- Title -->
    <ion-title *ngIf="!toggled">Cardappio</ion-title>
    <!-- Search Bar -->
    <ion-searchbar 
          *ngIf="toggled" 
          [showCancelButton]="true"
          (ionClear) = "toggleSearch()" 
          (ionCancel)="toggleSearch()" 
          (ionInput)="pesquisar($event)"
          >
    </ion-searchbar>
    <!-- Search Icon -->    
    <ion-buttons end *ngIf="!toggled">
      <button ion-button icon-only (click)="toggleSearch()"><ion-icon name="search"></ion-icon></button>
    </ion-buttons>  

</ion-navbar>

  
  
</ion-header>


<ion-content padding>


  Página inicial em construção.

  <!--AQUI É A BARRA DE PESQUISA, AS FUNÇÕES QUE SERÃO EXECUTADAS NA PESQUISA AINDA PRECISAM
  SER IMPLEMENTADAS.
  documentação = https://ionicframework.com/docs/components/#searchbar
   -->
  <ion-searchbar placeholder="Pesquise..." (ionInput)="pesquisar($event)"></ion-searchbar>

  <!-- LISTA DOS ITEMS QUE ESTÃO NO FIREBASE-->
  <ion-list>
    <!-- (click)="showOptions(item, item.cardapios.cardapio1)" -->
    <ion-item *ngFor="let estabelecimento of estabArray" (click)="showOptions(estabelecimento, estabelecimento.key)" >
      <ion-avatar item-start>
        <img [src]="estabelecimento.val().imgURL">
      </ion-avatar>
      <h2>{{estabelecimento.val().nome}}</h2>
       <!-- <h2>{{item.dados.nome}}</h2>
        <p>{{item.dados.rua}}, {{item.dados.numero}} - {{item.dados.bairro}}</p> -->
        <p>{{estabelecimento.val().logradouro}}, {{estabelecimento.val().numero}} - {{estabelecimento.val().bairro}}</p>
    </ion-item>
  </ion-list>
</ion-content>
